
#comprasTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dcdcdc;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #0080ff;
    background-color: #64656a;
    border-radius: 8px;
    overflow: hidden;
}

#comprasTable thead {
    background: #007bff;
    color: #ffffff;
    text-transform: uppercase;
}

#comprasTable thead th {
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
}

#comprasTable tbody td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}

#comprasTable tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

/* Fila al pasar el mouse */
#comprasTable tbody tr:hover {
    background-color: #ff00c8;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Información de la tabla */
.dataTables_wrapper .dataTables_info {
    color: #00000088;
    font-weight: normal;
    margin-top: 10px;
}


.filters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.filters-container label {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #64656a;
    color: #dfdfdf;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.filters-container label:hover {
    background-color: #124072;
    color: #ffffff;
}

.filters-container input[type="checkbox"] {
    display: none;
}

.filters-container input[type="checkbox"]:checked + label {
    background-color: #ffc107;
    color: #ffffff;
    font-weight: bold;
}


.alert {
    margin-bottom: 15px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
}

.alert-info {
    background-color: #17a2b8;
}

.alert-primary {
    background-color: #007bff;
}

.alert-success {
    background-color: #28a745;
}

.alert-warning {
    background-color: #ffc107;
}
